<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="recent">
    <ion-segment-button value="recent">
      <ion-label>Recent</ion-label>
    </ion-segment-button>
    <ion-segment-button value="trending">
      <ion-label>Trending</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>