<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding>
  <div id="main">
    <div #logo id="logo">
      <div>logo</div>
    </div>
    <div #search id="search">
      <ion-searchbar animated autocorrect debounce="300" (ionCancel)="cancelSearch($event)"
        (ionChange)="startSearch($event)" showCancelButton="focus">
      </ion-searchbar>
    </div>
    <p *ngIf="searching">Found {{searchResults.length}}</p>
    <div #results id="results" *ngIf="searching">
      <ion-grid id="resgrid">
        <ion-row *ngFor="let r of searchResults" (click)="showDetails()">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ r.rule ? "Rule " + r.rule : "Section " + r.section }}</ion-card-title>
              <ion-card-subtitle><b>Fine:</b> {{ r.fine }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>{{ r.description }}</ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid #pages id="pages" *ngIf="!searching">
      <ion-row nowrap>
        <ion-col>
          <ion-card padding href="./forum">
            <ion-icon name="list"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card padding href="./cop-of-the-day">
            <ion-icon name="thumbs-up"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card padding href="./i-met-a-cop">
            <ion-icon name="star-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card padding href="./discuss">
            <ion-icon name="happy"></ion-icon>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>