<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding>
  <div id="main">
    <div #logo id="logo"></div>
    <div #search id="searcher">
      <ion-searchbar id="search" debounce="0" (ionChange)="startSearch($event)">
      </ion-searchbar>
    </div>
    <br>
    <p *ngIf="searching" id="found">Found {{searchResults.length}}</p>
    <div #results id="results" *ngIf="searching">
      <ion-grid id="resgrid">
        <ion-row *ngFor="let r of searchResults" (click)="showDetails(r)">
          <ion-card class="result">
            <ion-card-header color="success">
              <h3 id="section">Section {{ r.section }}</h3>
              <h6 id="fine"><b>Penalty:</b> {{ r.penalty }}</h6>
            </ion-card-header>
            <ion-card-content>
              <p id="offence">{{ r.offence }}.</p>
              <span color="danger" id="readmore">Read more ...</span>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </div>
    <div id="lower" *ngIf="!searching">
      <div id="bow"></div>
      <ion-grid #pages id="pages">
        <ion-row nowrap>
          <ion-col>
            <ion-card class="icon" padding href="./forum">
              <ion-icon name="list"></ion-icon>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="icon" padding href="./cop-of-the-day">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="icon" padding href="./i-met-a-cop">
              <ion-icon name="star-outline"></ion-icon>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="icon" padding href="./discuss">
              <ion-icon name="happy"></ion-icon>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>