<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #logo id="logo">
    <img id="image" src="/assets/imgs/logo3.png" alt="Logo">
  </div>

  <ion-segment (ionChange)="segmentChanged($event)" value="details">
    <ion-segment-button value="details">
      <ion-label>Details</ion-label>
    </ion-segment-button>
    <ion-segment-button value="summary">
      <ion-label>Summary</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div padding *ngIf="inDetail" id="details">
    <h3 id="offence">{{ offence }}</h3>
    <h4 id="penalty">{{ penalty }}</h4>
    <h6 id="section">Section {{ section }}</h6>
    <p id="process">{{ process }}</p>
  </div>

  <div padding *ngIf="!inDetail" id="summary">
    <h4 id="heading">{{ activeCategory.heading }}</h4>
    <div id="details">
	  <p *ngFor="let p of activeCategory.details"> {{ p }}</p>
    </div>
  </div>
</ion-content>