<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="performAutomaticUpdate()">Auto update</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="performManualUpdate()">Manual update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>